$header-color: #f6f6f7;

 
.header {
  height: 44px;
  background-color: $header-color;
  font-height: 1em;
  @include retina-border(#A7A7A7, bottom);
}

// If iOS and fullscreen, add spacer for status bar
.ios.fullscreen .status-bar {
  height: 20px;
  background-color: $header-color;
}

.hdr-text {
  overflow: hidden;
  padding-top: 12px;

  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//  Header Buttons

.hdr-btn-text {
  color: #007AFF;
  font-size: 17px;
  padding: 13px 8px 0;
}
