<template name='header'>
  <div class="status-bar"></div>
  <div class='header hbox'>
    {{> UI.contentBlock}}
  </div>
</template>


<template name='headerButton'>
  <div class="hdr-btn {{class}}">
    {{> UI.contentBlock}}
  </div>
</template>


<template name='middleText'>
  <div class="hdr-middle flex1">
    <div class="hdr-text">
      {{> UI.contentBlock}}
    </div>
  </div>
</template>


<!-- Header Buttons -->
<template name='textButton'>
  <div class="hdr-btn-text">
    {{this}}
  </div>
</template>

<!-- Header Buttons -->
<template name='backButton'>
  <div class="hbox">
  <div class="hdr-btn-back"></div>
  <div class="hdr-btn-text back-text">{{this}}</div>
  </div>
</template>

